build/

make_axisem.macros

MESHER/Makefile

MESHER/*.o

MESHER/*.mod

MESHER/xmesh

SOLVER/*.o

SOLVER/*.mod

SOLVER/axisem

SOLVER/runinfo

SOLVER/MESHES*

SOLVER/TEST*

SOLVER/UTILS/*.o

SOLVER/UTILS/*.mod

SOLVER/UTILS/xfield_transform

SOLVER/UTILS/xpost_processing

SOLVER/Makefile

SOLVER/UTILS/Makefile

MESHER/inparam_mesh

MESHER/OUTPUT

SOLVER/CMTSOLUTION

SOLVER/inparam_advanced

SOLVER/inparam_basic

SOLVER/inparam_source

SOLVER/STATIONS

.idea/
MESHER/gitversion.h
Makefile
SOLVER/gitversion.h
SOLVER/inparam_hetero
./inparam_advanced
./inparam_basic

